*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0d1117;
    color:white;
}

/* DYNAMIC TEXT ANIMATION SETUP */
.dynamic-text::after {
    content: "Java Full Stack Developer";
    color: skyblue;
    animation: switchText 4s infinite;
    font-weight: bold;
}
@keyframes switchText {
    0%, 30% {
        content: "Java Full Stack Developer";
        color: #00e5ff;
    }
    33%, 63% {
        content: "Java Developer";
        color: #ff4da6;
    }
    66%, 100% {
        content: "Software Developer";
        color: darkblue;
    }
}
.about-container{
    max-width:1200px;
    margin:auto;
    padding:30px;

    background:rgba(255,77,166,0.08);

    border:1px solid rgba(255,77,166,0.3);

    border-radius:20px;

    backdrop-filter:blur(10px);

    box-shadow:0 0 20px rgba(255,77,166,0.2);
}
/* NAVBAR */
nav{
    background:#161b22;
    padding:20px 8%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#ff4da6;
}
/* HOME */
.hero{
    min-height:100vh;
    background:#0d1117;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:100px 10% 0;
}
.hero-content{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.hero-left{
    width:60%;
}
.hero-right{
    width:40%;
    display:flex;
    justify-content:center;
}

.hero-left h3{
    font-size:32px;
}
.hero-left h1{
    font-size:70px;
    margin:10px 0;
}
.hero-left h2{
    font-size:40px;
    margin-bottom:15px;
}
.hero-left span{
    color:#00e5ff;
}

.hero-left p{
    font-size:22px;
    line-height:1.7;
}
.profile-img{
    width: 300px;
    height: 300px;
    border-radius:50%;
    object-fit:cover;
    border-color: #d878a8;

}
.social-icons{
    margin:25px 0;
}
.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:50px;
    height:50px;

    border:2px solid #ff4da6;
    border-radius:50%;

    color:#ff4da6;
    font-size:24px;

    text-decoration:none;
    margin-right:15px;

    transition:0.3s;
}
.social-icons a:hover{
    background:#ff4da6;
    color:white;
}
.btn{
    display:inline-block;
    padding:12px 30px;
    background:#ff4da6;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    margin-top:10px;
}

.btn:hover{
    box-shadow:0 0 20px #ff4da6;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    color:#ff4da6;
    margin-bottom:30px;
}

.card-container {
    display: flex;
    justify-content: center; 
    gap: 15px;             
    margin-top: 20px;
}

.card {
    background: rgba(255, 77, 166, 0.05); 
    border: 1px solid rgba(255, 77, 166, 0.3); 
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease;
    cursor: default;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 77, 166, 0.15);
    box-shadow: 0 5px 15px rgba(255, 77, 166, 0.4);
}
.project-display-container {
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.project-box h3 {
    color: #ff4da6; 
    margin-bottom: 8px;
    font-size: 20px;
}

.project-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #e0e0e0;
}

#contact{
    text-align:center;
}

#contact a{
    color:#ff4da6;
    text-decoration:none;
}

footer{
    background:#161b22;
    text-align:center;
    padding:20px;
    color:white;
}


.cert-card {
    cursor: pointer;
}

@media(max-width:768px){

    .hero-content{
        flex-direction:column-reverse;
        text-align:center;
    }

    .hero-left,
    .hero-right{
        width:100%;
    }

    .hero-left h1{
        font-size:45px;
    }

    .hero-left h2{
        font-size:28px;
    }

    .profile-img{
        width:250px;
        height:250px;
        margin-bottom:30px;
    }
}
